html {
    font-size: 100%;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: $violet;
    background-image: url('/src/images/bg-mobile.svg');
    background-repeat: no-repeat;
    color: $white;
    height: 100vh;
    @include breakpoint-up(medium){
        background-image: url('/src/images/bg-desktop.svg');
        background-size: cover;
    }
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
